localhost {
    route {
        handle /api/* {
            reverse_proxy http://backend:8080
        }

        handle {
            root * /usr/share/caddy
            try_files {path} /index.html
            file_server
        }
    }
    log
}
