# project
.git/
.gitignore
.dockerignore
.gemini/
README.md
GEMINI.md
CLAUDE.md
ISSUES.md
docker-compose.yml
**/Dockerfile
**/justfile

# Release and development
.github/
CHANGELOG.md
package.json
package-lock.json
node_modules/
helm/


